*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:sans-serif;
    outline: none;
}
.container{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5EFFF;
}
.calculator{
    background-color:rgb(162, 148, 249);
    padding: 20px;
    border-radius: 10px;
}
input{
    border: 0;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    outline:none;
    margin: 7px;
    font-size:20px;
    box-shadow: -3px -3px 4px rgba(255, 255, 255, 0.6),  
    3px 3px 4px rgba(140, 130, 230, 0.3);
    cursor: pointer;
}
form .display{
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}
.display input{
    flex:1;
    box-shadow: none;
    font-size:32px;
    text-align: right;
}
input[value="="]{
    width: 140px;
}